.promoCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin-bottom: 70px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
       gap: 20px;
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}