.productSlider {
    margin-bottom: 50px;

    .productItem {
        height: 100%;
    }

    :global {
        .swiper {
            padding: 20px 10px 50px 0;
        }

        .swiper-slide {
            height: auto;
        }

        .swiper-pagination-bullet-active {
            background-color: #72A479;
        }
    }
}