.productSlider {
    margin-bottom: 100px;
}

.slider {
    :global {
        .slick-track {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
            padding-top: 20px;
        }

        .slick-slide {
            height: auto;

            > div {
                height: 100%;
            }
        }
    }
}

.productItem {
    height: 100%;
}