.description {
    display: grid;
    grid-template-columns: 1fr 470px;
    grid-template-rows: 1fr;
    gap: 0 174px;
    background: url("../../../../public/images/backgrounds/section-bg.png") no-repeat center;
    background-size: cover;
    padding: 70px 100px 70px 70px;
}

.text {
    font-size: 20px;
    line-height: 125%;
    margin-bottom: 60px;
}

.columnCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 66px 12px 40px 12px;
    background: rgba(80, 75, 74, 0.90);
    backdrop-filter: blur(2px);



}

.subtitle {

    &:hover {
        color: var(--main-color);
    }
}

.icon {
    margin-bottom: 26px;

    //&:hover {
    //    background: var(--main-color);
    //}
}

