.button {
    display: inline-block;
    max-width: 100%;
    padding: 10px 16px;
    background: var(--main-color);
    color: var(--additional-text-color);
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background: rgba(#618967, 0.8);
    }

    &:disabled {
        background: rgba(#cccccc, 0.8);
    }

    &:active {
        background: rgba(#72A479, 0.8);
    }
}

.buttonBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 12px
}

.buttonBig {
    padding: 22px 30px;
    font-size: 13px;
}