.promoCard {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-position: left;
    object-fit: cover;
}

.infoBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px 25px;

    @media (max-width: 768px) {
        padding: 10px 16px 16px 16px;
    }
}

.title {
    font-weight: 700;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.description {
    color: #A6A7AB;
    font-size: 14px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.date {
    font-size: 14px;
    color: #6FA076;
    margin-top: auto;
}