.footer {
    background: var(--background-color);
    padding: 26px 0;

    &Box {
        display: flex;
        align-items: center;
        gap: 55px;
    }
}

.scrollToTop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--additional-text-color);
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 6px 0;
}

.logo {
    width: 100px;
    max-width: 100%;
}

.companyInfo {
    color: var(--text-color);
    font-size: 12px;
}

.text {
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.20);
}